.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
	background-color: #e9ffd2;
	padding-top: 180px;
	display: block;
}

body.sticky {
	background-color: #e9ffd2;
	padding-top: 160px;
}

			*, *:after, *:before {
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			}

/*.blurheader{
	background: transparent;
	overflow: hidden;
	z-index: 10000;
	
	left: 0;

	background-color: #e9ffd2;
	height: 190px;
	position: fixed;
	width: 100%;
	
	top: 0;
	border-bottom:1px solid rgba(0,0,0,.2);
	
}

.blurheader.sticky{
	background: transparent;
	overflow: hidden;
	z-index: 10000;
	
	left: 0;

	background-color: #e9ffd2;
	height: 170px;
	position: fixed;
	width: 100%;
	
	top: 0;
	border-bottom:1px solid rgba(0,0,0,.2);
	
}

#canvas{
	opacity:1;
  	z-index: 100;
  	position: absolute;
  	display: block;
  	top: 3px;
}*/




#base-spirit-table-tag {
	background-color: #E8BC6F;
}

#Mixers-table-tag {
	background-color: #FF635E;
}

#Fruit-table-tag {
	background-color: #C6AEE8;
} 

#Ingredients-table-tag {
	background-color: #CCF2FF;
}


#base-spirit-table-tag, #Mixers-table-tag, #Fruit-table-tag, #Ingredients-table-tag {
	/*display: table;*/
	padding: 8px;
	margin-left: 30px;
	border-radius: 50px;
	text-align: right;
}


/*#tag:after {
	content: "x";
}*/

.tag-close:before {
	margin-left: 5px;
}

.tag-close {
	cursor: pointer;
}

.navbar {
	background-color: #e9ffd2;
	font-size: 90%;
	border-bottom: -60px;
	z-index: 10000000000;
	
}

header.tc-header {
	border-bottom: 0;
}

.navbar img {
	height: 85%;
	width: 85%;
	z-index: 10000000000;
}

.navbar.sticky img {
	height: 50%;
	width: 50%;
}


.middle img {
	height: 60%;
	width: 60%;
}

.middle {
	position: relative;
	text-align: center;


}

.searchbar form {
	margin-bottom: 30px;
}

.searchbar {
	position: relative;

	left: 5000px;
}

.row {
	position: relative;
	margin-left: 30px;
	
}

.table1 {
	overflow: auto;
	max-height: 300px;

}

#base-spirit-table {
	background-color: #E8BC6F;
}

#Mixers-table {
	background-color: #FF635E;
}

#Fruit-table {
	background-color: #C6AEE8;
}

#Ingredients-table {
	background-color: #CCF2FF;
}

a { color: inherit; } 


.popover{
	min-width: 350px;
}

/*tr {
	width: 100%;
	display: inline-table;
}

table{
	max-height: 500px;
}

tbody{
	overflow-y: scroll;
	max-height: 490px;
	width: 90%; 
	position: absolute;
}
*/







@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}