.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
	background-color: #e9ffd2;
	padding-top: 180px;
	display: block;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
	position: relative;
	margin-left: 30px;	
}

#loading {
	height: 200px;
	width: 200px;
}

/******************************************
//NavBar management
//******************************************/

.navbar {
	background-color: #e9ffd2;
	font-size: 90%;
	border-bottom: -60px;
	z-index: 10000000000;
	
}

header.tc-header {
	border-bottom: 0;
}

.navbar img {
	height: 85%;
	width: 85%;
	z-index: 10000000000;
}


/******************************************
//Tag management
//******************************************/

#base-spirit-table-tag {
	background-color: #E8BC6F;
}

#Mixers-table-tag {
	background-color: #FF635E;
}

#Fruit-table-tag {
	background-color: #C6AEE8;
} 

#Ingredients-table-tag {
	background-color: #CCF2FF;
}

#base-spirit-table-tag, #Mixers-table-tag, #Fruit-table-tag, #Ingredients-table-tag {
	display: inline-block;
	padding: 8px;
	margin-left: 30px;
	border-radius: 50px;
	text-align: right;
}

.tag-close:before {
	margin-left: 5px;
}

.tag-close {
	cursor: pointer;
}

a { color: inherit; } 

/******************************************
//Resize the navbar and body on scroll
//******************************************/

.navbar.sticky img {
	height: 50%;
	width: 50%;
}

body.sticky {
	background-color: #e9ffd2;
	padding-top: 160px;
}


.middle img {
	height: 60%;
	width: 60%;
}

.middle {
	position: relative;
	text-align: center;
}

.searchbar form {
	margin-bottom: 30px;
}

.searchbar {
	position: relative;

	left: 5000px;
}

/******************************************
//Management of the table
//******************************************/

.table1 {
	overflow: auto;
	max-height: 300px;

}

#base-spirit-table {
	background-color: #E8BC6F;
	border-radius: 5px;
}

#Mixers-table {
	background-color: #FF635E;
	border-radius: 5px;
}

#Fruit-table {
	background-color: #C6AEE8;
	border-radius: 5px;
}

#Ingredients-table {
	background-color: #CCF2FF;
	border-radius: 5px;
}

/******************************************
//Management of popover for the recipe
//******************************************/

.popover{
	min-width: 350px;
}
